.burger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  width: 38px;
  height: 30px;
  cursor: pointer;
  padding: 2px 0;
  overflow: hidden;
}

.burger span {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: all 0.25s;
  border-radius: 2px;
}

.burger.activated span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger.activated span:nth-child(2) {
  transform: translateY(-7px) rotate(-45deg);
}

.burger.activated span {
  background-color: #5E60CE;
}

.lvv-contact-form {
  position: relative;
  padding: 36px 80px;
  background-color: #fff;
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  min-height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lvv-contact-form form {
  max-width: 260px;
  margin: 0 auto;
}

.lvv-contact-form .lvv-btn-accent {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.lvv-contact-form .bottom-text, .lvv-contact-form .top-text {
  position: relative;
}

.lvv-contact-form.white .bottom-text img {
  position: absolute;
  top: -44px;
  right: -58px;
}

.lvv-contact-form.white {
  box-shadow: 0 6px 6px rgba(94, 96, 206, 0.16);
}

.lvv-contact-form.white input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 16px;
  border: 1px solid #8A8A8A;
  border-radius: 5px;
  color: #5e60ce;
  background-color: transparent;
  text-align: center;
}

.lvv-contact-form input.error {
  border: 1px solid #D71C1C !important;
}

.lvv-contact-form input.error:focus-visible {
  border: 1px solid #D71C1C !important;
}

.lvv-contact-form.white input:placeholder {
  color: #8A8A8A;
}

.lvv-contact-form.white .lvv-btn-accent {
  font-size: 16px;
}

.lvv-contact-form.white .bottom-text {
  color: #5e60ce;
  margin-top: 16px;
}

.lvv-contact-form.white input:focus-visible {
  outline: none;
  border: 1px solid #5E60CE;
}

.lvv-contact-form.violet {
  background-color: rgba(94, 96, 206, 0.9);
}

.lvv-contact-form.violet input {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  text-align: center;
}

.lvv-contact-form.violet input::placeholder {
  color: #fff;
}

.lvv-contact-form.violet .lvv-btn-accent {
  background-color: #72EFDD;
  color: #5E60CE;
  font-size: 16px;
}

.lvv-contact-form.violet .lvv-btn-accent:active {
  background-color: #3FE8E0 !important;
}

.lvv-contact-form.violet .lvv-btn-accent:hover {
  background-color: #91F8E9;
}

.lvv-contact-form.violet .top-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 16px;
}

.lvv-contact-form.violet input:focus-visible {
  outline: none;
  color: #5e60ce; 
  background-color: #fff;
  border: 1px solid #5E60CE;
}

.lvv-contact-form.violet .top-text img {
  position: absolute;
  top: 28px;
  right: -70px;
}

.lvv-contact-form .price-from {
  font-family: 'OpenSans';
  position: absolute;
  top: -33px;
  right: -50px;
  width: 118px;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5E60CE;
  color: #fff;
  border-radius: 50%;
  z-index: 15;
  line-height: 1.4;
  transform: rotate(-5deg);
}

.lvv-contact-form .price-from span {
  font-size: 20px;
}

.lvv-contact-form-overlay {
  background-color: #fff;
  z-index: 15;
}

.lvv-contact-form-modal {
  padding: 0 40px;
  position: relative;
  box-shadow: none;
  max-width: 528px;
  border-radius: 25px;
  width: 100%;
}

.lvv-contact-form-modal .modal-close {
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 10px;
}

.lvv-contact-form .cf-thanks .social-links {
  margin-top: 40px;
  margin-bottom: 10px;
}

.lvv-contact-form.white .cf-thanks {
  font-size: 16px;
  color: #5e60ce;
}

.lvv-contact-form.white .cf-thanks .bottom-text {
  font-size: 14px;
  color: #797979;
}

.lvv-contact-form.violet .cf-thanks {
  font-size: 16px;
  color: #fff;
}

.lvv-contact-form.violet .cf-thanks .bottom-text {
  font-size: 14px;
  color: #fff;
}

.cf-thanks {
  display: none;
}

@media (max-width: 767.98px) {
  .lvv-contact-form {
    padding: 22px 40px;
    min-height: auto;
  }
  .lvv-contact-form-modal{
    padding: 0 20px;
  }
  .lvv-contact-form-modal .lvv-contact-form {
    min-height: 370px;
  }
  .lvv-contact-form-modal .modal-close {
    top: -14px;
    right: 6px;
    z-index: 10;
  }
  .lvv-contact-form .price-from {
    top: -50px;
    right: -25px;
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
  .lvv-contact-form .price-from span {
    font-size: 16px;
  }
  .lvv-contact-form .lvv-btn-accent {
    font-size: 14px !important;
  }
  .lvv-contact-form.white .bottom-text {
    margin-top: 10px;
    font-size: 14px;
  }
  .lvv-contact-form.white .bottom-text img {
    top: -40px;
  }
  .lvv-contact-form.violet .top-text img {
    display: none;
  }
  .lvv-contact-form.violet .top-text {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
